<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        //- 以下で CSS ファイルを読み込む設定をする
        link(rel="stylesheet",
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
        crossorigin="anonymous")
        title 秘密の匿名掲示板
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body.container
        //- my-3: 縦方向（y 軸方向）への余白 (margin) を 5 段階のうち 3 段階目の値に指定する
        div.my-3
            //- ボタンのデザインを適用するクラス btn btn-info 右側に配置するクラス float-right
            a(href="/logout").btn.btn-info.float-right ログアウト
            h1 秘密の匿名掲示板
        h2 新規投稿
        form(action="/posts", method="post")
            div.form-group
                textarea(name="content", rows="4").form-control
            div.form-group
                button(type="submit").btn.btn-primary 投稿

        h2 投稿一覧
        each post in posts
            div.card.my-3
                div.card-header
                    - var isPostedByAdmin = (post.postedBy === 'admin')
                    if isPostedByAdmin
                        span #{post.id} : 管理人 ★
                    else
                        span #{post.id} : ID: #{post.trackingCookie}
                    //- 以下の書き方（p!=）でタグを認識させる
                div.card-body
                    p.card-text!= post.content
                div.card-footer
                    div 投稿日時: #{post.formattedCreatedAt}
                    - var isAdmin = (user === 'admin')
                    if isAdmin
                        div 投稿者: #{post.postedBy}
                    //- 以下の行は pug のテンプレート内に JavaScript のコードを記述する方法
                    - var isDeletable = (user === post.postedBy || isAdmin)
                    if isDeletable
                        form(method="post" action="/posts?delete=1")
                            input(type="hidden" name="id" value=post.id)
                            button(type="submit").btn.btn-danger.float-right 削除

        //- Bootstrap に必要となる JavaScript のソースコードを読み込んでいる
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
        crossorigin="anonymous")